Aquí se va a decidir cuales son las hojas y nombre de columnas validas

In [50]:
import pandas as pd
import os


Directory = r"C:\Users\fcolin\Desktop\Todos"
os.chdir(Directory)
files = os.listdir()
files = [f for f in files if f[-4:] == 'xlsx']

In [51]:
# get the name of the sheets in an excel file
Sheets = []
for f in files:
    if f[-4:] == 'xlsx':
        sheets = pd.ExcelFile(f).sheet_names
        #print(sheets)
        Sheets.append(sheets)
        # 5 min 2019

#pd.read_excel(files[0], sheet_name=None).keys()
# separte a list of lists into a single list
Sheets2 = [item for sublist in Sheets for item in sublist]

df_sheets = pd.DataFrame(Sheets2)
df_sheets.drop_duplicates(inplace=True)
df_sheets

                  0
0    RESUMEN MATRIZ
1         ROPA DAMA
2         SHASA MAN
3           CALZADO
4         BISUTERIA
5      NO BISUTERIA
6            BEAUTY
7             CONF.
47    CUBOS ROLLING
130         TOP 3BU
162     TIENDAS TOP
225           CANDY
453              M2
454     CAPACIDADES
462       CUBO ROPA
582         ROLLING

In [52]:
# Selccionar manualmente
sheets_aceptadas  = ["ROPA DAMA", "SHASA MAN", "CALZADO", "BISUTERIA", "NO BISUTERIA", "BEAUTY"]

In [53]:
#j = 0
hist_colnames = []

for j in range(len(files)):
    
    file = files[j]
    pestanas = pd.ExcelFile(file).sheet_names

    # coincidence beteween pestanas y sheets_aceptadas
    sheets_aceptadas_excel = []
    for pestana in pestanas: 
        if pestana in sheets_aceptadas:
            sheets_aceptadas_excel.append(pestana)
            
    for sheet in sheets_aceptadas_excel:
        file_excel = pd.read_excel(file, sheet_name=sheet)
        # get the index of the row with the max null values
        for i in range(len(file_excel.iloc[:,0].values)):
            if file_excel.iloc[i,0]=="No.":
                index = i
                break
        col_names = file_excel.iloc[index].values
        # rename the columns
        # file_excel.columns = col_names
        hist_colnames.append(col_names)

        # time: 9min

In [54]:
# separte a list of lists into a single list
hist_colnames2 = [item for sublist in hist_colnames for item in sublist]
hist_colnames2 = pd.DataFrame(hist_colnames2).drop_duplicates()
pd.DataFrame(hist_colnames2).to_csv('hist_colnames2.csv',index=False)

# Asignado que columnas son las que se van a usar manualmente

In [55]:
hist_colnames
hist_colnames2 = pd.read_csv('hist_colnames2.csv').dropna()

hist_colnames2.columns = ['col_names_validos', 'col_names_cambio']
df_colnames =  hist_colnames2
df_colnames.to_csv('hist_colnames2.csv',index=False)
df_colnames

             col_names_validos col_names_cambio
5                       BUFFER           BUFFER
6               Buffer Calzado           BUFFER
7            Buffer Flip Flops           BUFFER
8                 Buffer Total           BUFFER
19       Configuración Calzado             CONF
20    Configuración Flip Flops             CONF
21           CONFIGURACIN DAMA             CONF
22           CONFIGURACION BIS             CONF
23     CONFIGURACION BISUTERIA             CONF
24       CONFIGURACION CALZADO             CONF
25        CONFIGURACION NO BIS             CONF
26  CONFIGURACION NO BISUTERIA             CONF
27          CONFIGURACION ROPA             CONF
36                         No.              No.
38                RES ALTO VOL     RES_ALTO_VOL
39                    RES LEAN         RES_LEAN
40                   RES MEDIO        RES_MEDIO
43                         VAN              VAN
47               BUFFER BEAUTY           BUFFER
56                        CONF             CONF
59                   CONF DAMA             CONF
61                  CONF. ROPA             CONF
62                CONF CALZADO             CONF
63                    CONF BIS             CONF
64                 CONF NO BIS             CONF
66              BUFFER CALZADO           BUFFER
72                       VAN 2       VAN_2_SAFE
74                   RES TEMP.         RES_TEMP
75                  RES ALTO V     RES_ALTO_VOL
76                      CONFIG             CONF
78                RES TEMP NAV         RES_TEMP
79                      VAN 36              VAN
80                 RES LEAN 36         RES_LEAN
81                RES MEDIO 36        RES_MEDIO
82                   VAN CHINA        VAN_CHINA
83                        VAN2       VAN_2_SAFE
85                    RES TEMP         RES_TEMP
87               CONFIGURACION             CONF
88                  VAN 2 SAFE       VAN_2_SAFE
89         CONFIGURACION BODYS             CONF
90      CONFIGURACION PERFUMES             CONF
91                        VAN               VAN

In [152]:
col_definitivas = ["Week", 
"Año",	
"No.",  
"BU",
"BUFFER",
"CONF",
"VAN",
"VAN_CHINA",
"VAN_2_SAFE", 
"RES_LEAN",
"RES_MEDIO",
"RES_ALTO_VOL",	
"RES_TEMP"]